body {
  width: 100%;
  background-image: url('blue.png');
  /* background-color: #cccccc; */
  background-size: cover;
  /* filter: blur(20px) */
}
.input-p {
  padding-right: 2em;
}
.main {
  position: absolute;
  width: 100%;
  height: 100%;
}
.home-head {
  padding: 2em;
}

/* .main-head {
  position: absolute;
  width: 100%;
  height: 100%;
} */
/*
.home {
  display: flex;
  flex-direction: column;
  justify-contents: space-around;
} */

footer {
  /* position: fixed;
  bottom: 0;
  width: 100% */
  /* align-self:end; */
}
